/*font icon*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.2.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=4.2.0') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
    url('../font/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 12.5px;
	font-family: arial;
    background: #e6e7e8;
    color: #000
}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box}
a{text-decoration: none}
a:hover{text-decoration: underline}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder { color: inherit!important;font-size: inherit !important;}
:-moz-placeholder { color: inherit!important;font-size: inherit !important;}
::-moz-placeholder { color: inherit!important;font-size: inherit !important;}
:-ms-input-placeholder { color: inherit!important;font-size: inherit !important;}

.header{background: url("../images/header-bg.png") 0 0 repeat-x;height: 193px}
.container,.header-container{width: 1070px;margin: 0 auto}
.main-content{background: #fff;min-height: 500px}



/*breadcumb*/
.page-title.active{clear: both;border-bottom: 3px solid #28619b;}
.page-title.active h4{display: block;color: #fff;text-transform: uppercase;background: #28619b;height: 23px;line-height: 26px;border-top-left-radius: 10px;border-top-right-radius: 10px;padding-left: 15px;width: 179px;font-weight: bold;}
.breadcumb{float:left;}
.breadcumb li{float: left;;white-space: nowrap}
.breadcumb li.current{color: #333;font-weight: bold}
.breadcumb li a{color: #28619b;text-decoration: none;position: relative;padding-right: 20px;white-space: nowrap}
.breadcumb li a:before{position: absolute;top:3px;right: 4px;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-left:6px solid #28619b;width: 0;height: 0;content: ''}
.head-page{margin-bottom: 10px}
.head-page .language{float: right}
/*duan*/
.container{padding:10px 10px 0;background: #fff;}
.wrapper{background: #e6e7e8;}
.content-duan{float: left;width: 751px;}
.side-bar{float: right;width: 253px;margin-right: 13px;}
.content-duan .item{padding: 11px 0 15px;border-bottom: 2px solid #e6e6e6;clear: both;width: 100%}
.content-duan .item .item-image{display: inline-block;vertical-align: top;}
.content-duan .item .item-image img,.content-duan .item .item-image iframe{border: 1px solid #e6e6e6;width: 125px;height: 94px;}
.content-duan .item .item-content{display: inline-block;vertical-align: top;width: 584px;margin-left: 37px;}
.content-duan .item .item-content .item-content-title{font-weight: bold;color: #3a00cf;padding-bottom: 15px;}
.content-duan .item .item-content .item-content-main li{float: left;width: 50%;padding-bottom: 12px;}
.item-content-label{font-weight: bold;color: #000;}
.side-bar .title{font-weight: bold;color: #fff;background: #055699;text-transform: uppercase;height: 28px;line-height: 28px;border-top-left-radius: 10px;border-top-right-radius: 10px;text-align: center;}
.side-bar .box{margin-bottom: 15px;}
.side-bar .box .box-side-bar{padding: 0 15px;background-color: #c1e1fb;}
.side-bar .box .box-side-bar li{border-bottom: 1px solid #fff;padding: 6px 0;}
.side-bar .box .box-side-bar li p{}


/*project detail*/
.detail-miss{margin: 20px 0 8px;}
.detail-miss img{display: inline-block;vertical-align: top;width: 203px;height: 150px;}
.detail-miss-content{display: inline-block;vertical-align: top;width: 515px;margin-left: 20px;}
.detail-miss-content h6{color:#003b90;font-size: 16px;font-weight: bold}
.detail-miss-content-box{margin-top:11px;}
.detail-miss-content-box .name{color: #3b78bb}
.detail-main ul{background: #055699;border-radius: 10px;clear: both;overflow: hidden;}
.detail-main li{float: left;padding: 0 20px 0 10px;height: 40px;line-height: 40px;}
.detail-main li a{color: #fff;text-decoration: none;font-weight: bold;font-size: 13px;}
.detail-main li.ui-tabs-active a{padding: 0 5px;display: block;color: #19277a;background: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-top:5px;line-height: 35px;font-size: 13px;}
.detail-main .page-title h6{color: #000;font-weight: bold;}
.detail-main .tab-content{margin-top:10px;color: #000;}
.detail-main .tab-content .product-image{margin: 10px 0}
.detail-main .tab-content .product-image img{margin: 0 auto;width: 656px;display: block;}
.detail-main .tab-content .product-image p{text-align: center;font-style: italic;font-weight: bold;color: #000;padding: 15px 0}

/*tin tuc*/

.main-content-duan{width: 532px;float: left;}
.sidebar-content-duan{float: left;width: 209px;margin-left: 10px;}
.main-content-duan .page-title h4,.sidebar-content-duan .page-title h4{width: 100%}
.hot-new{background: #f6f6f6;overflow: hidden;margin-bottom: 15px;}
.hot-new-main{padding-top: 10px;float: left;width: 49%}
.hot-new-main img{width: 100%;display: block}
.hot-new-main .description-new {padding-top: 15px;}
.hot-new-main .description-new h4{color:#055699;font-weight: bold;font-size: 14px;padding-bottom: 15px;}
.hot-new-catalogue{width: 49%;float: right;margin-left: 2%}
.box .box-item{margin: 10px 0;}
.box .box-item img{display: inline-block;vertical-align: top;width: 30%;height: 57px;border:2px solid #ccc;}
.box .box-item .box-item-description{display: inline-block;vertical-align: top;width: 66%;margin-left: 2%;}
.box .box-item a{color: #000;}
.box-list li{list-style-type: square;padding: 5px 0}
.box-list li a{color: #000;}
.marketing-new{margin-top:15px;}
.marketing-new-main{float: left;width: 49%}
.marketing-new-sidebar{float: left;width: 49%}
.marketing-new-main img{float: left;}
.marketing-new-main .marketing-new-description{display: inline;}
.marketing-new-main a{display: block;margin-top:10px;color: #000;}

/*clear */
.container:after,
.head-page:after,
#tabs > ul:after,
.project-tabs > ul:after,
.support-tabs > ul:after,
.project-block:after,
.partner-slider:after,
.footer ul:after
{content: " ";display:  block; clear: both;margin: 0;padding: 0;height: 0;overflow: hidden}

