
    /* header */

    .header-container{position: relative}
    .header-wrap{height: 116px;float: right}
    .tagline{color: #81a3ef;font-size: 31px;float: left;margin: 0 26px;font-family: "calibri";font-weight: bold;line-height: 22px}
    .logo{float: left;margin-top: 8px}
    .header-right{clear: both;float: right;margin-top: 23px;margin-right: 22px}
    .header-top,.header-top .top-link,.header-top .account-top{background-image: url(../images/header-top-bg.png)}
    .header-top{height: 31px;float: right; background-position: 0 -69px;background-repeat:  repeat-x;position: relative;z-index: 1}
    .header-top .top-link{float: left;background-position: 0 0; background-repeat: no-repeat;padding-left: 15px}
    .header-top .account-top{float: right;background-position: 100% -35px; background-repeat: no-repeat}
    .header-top .account-top a{color: #cccccc}
    .header-top a{font-size: 11px;color: #fff;text-transform: uppercase}
    .header-top ul > li > a{white-space: nowrap}
    .top-link > li, .account-top > li{float: left;padding: 0 15px 0 13px;position: relative;line-height: 30px;height: 30px;background:url(../images/header-top-sep.png)no-repeat 100% 5px}
    .top-link > li.parent:after, .account-top > li.parent:after{font-family: "FontAwesome";content: "\f0d7";color: #9ccff6;margin-left: 3px;display: inline-block}
    .top-link > li:last-of-type, .account-top > li:last-of-type, .account-top .user-name{background: none}
    .account-top .signout a{background: url("../images/icon-signout.png") 100% 6px no-repeat;padding-right: 20px;display: inline-block}
    .top-link > li ul.dropdown{display: none}
    .top-link > li:hover ul.dropdown{display: block;position: absolute;background: #6f8ba2;padding: 10px;width: 150px}

    .search-box,.btn-search div.selector span{height: 29px;font-size: 12px; -webkit-box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.34); box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.34);border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px;position: relative;background: #fff;color: #828181}
    .search-box{;padding-left: 30px;;width: 130px;margin-right: 15}
    .search-box input{width: 100px;border: none;background: none;color: #828181;font-size: 12px;line-height: 25px;padding-top: 2px}
    .search-box:before{content: "\f002";position: absolute;left: 10px;top: 6px;font-size: 17px;font-family: "FontAwesome"}

    .header-search{float: right;width: 307px}
    .header-search > div{display: inline-block}
    .btn-search{
        background: #ff7c00; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2JjNjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  #ff7c00 0%, #bc6400 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7c00), color-stop(99%,#bc6400)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ff7c00 0%,#bc6400 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ff7c00 0%,#bc6400 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ff7c00 0%,#bc6400 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #ff7c00 0%,#bc6400 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c00', endColorstr='#bc6400',GradientType=0 ); /* IE6-8 */

        border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px
    }
    .btn-search div.selector span{font-weight: normal;padding-left: 15px;padding-right: 20px;position: relative}
    .btn-search div.selector span:after{font-family: "FontAwesome";content: "\f0d7";font-size:18px; color: #ff7f05;position: absolute;right: 10px }
    .btn-search div.selector{background: none;padding: 0;width: 89px !important;line-height: 29px;height: 29px;margin-left: -10px;border: none}
    .btn-search button{border: none;background: none;font-size: 14px;font-weight: bold;color: #fff;padding-right: 10px;}

    /* navigation */
    .navigation{
        background: #3c5d82; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjNWQ4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzFmMzk1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  #3c5d82 0%, #1f395d 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c5d82), color-stop(99%,#1f395d)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #3c5d82 0%,#1f395d 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #3c5d82 0%,#1f395d 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #3c5d82 0%,#1f395d 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #3c5d82 0%,#1f395d 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5d82', endColorstr='#1f395d',GradientType=0 ); /* IE6-8 */

        border-radius: 10px 10px 0 0;-webkit-border-radius: 10px 10px 0 0;-moz-border-radius: 10px 10px 0 0;height: 39px;
        clear: both;
        padding: 0 10px;display: inline-block;
    }
    .navigation > li{float: left;padding: 0 15px 0 13px;background: url("../images/header-top-sep.png") 100% 9px no-repeat; }
    .navigation > li:last-of-type{background: none}
    .navigation > li > a{color: #fff;font-size: 14.5px;line-height: 39px;height: 39px;display: inline-block;position: relative;white-space: nowrap}
    .navigation > li.parent:hover > a:after,.navigation > li.parent.active > a:after{font-family: "FontAwesome";content: "\f0d7";font-size:18px; color: #63647d;position: absolute;left: 50%;margin-left: -6px;bottom: -6px;line-height: 0}
    .sub-nav{position: absolute;left: 25px;bottom:-30px;display: none}
    .navigation > li.parent:hover .sub-nav,.navigation > li.parent.active .sub-nav{display: block}
    .sub-nav li{float: left;border-right: 1px solid #cacaca;border-left: 1px solid #fff;line-height: 20px;padding:0 15px;height: 20px;margin-top: 10px}
    .sub-nav li:first-of-type{border: none;padding-left: 0;}
    .sub-nav li a{font-size: 13px; color: #363636;font-weight: bold;display: inline-block;white-space: nowrap}

    /* homepage content */
    .project-block{display: block;clear: both;float: none}
    .find-project {
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2E3YWFhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  #ffffff 0%, #aaacaf 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#aaacaf)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#aaacaf 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#aaacaf 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#aaacaf 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#aaacaf 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaacaf',GradientType=0 ); /* IE6-8 */

        float: left;
        border: 2px solid #a5a6ac;border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px; width: 266px
    }


    .find-project .title h2,
    .project-tabs > ul > li a,
    .support-tabs>  ul> li a,
    .support-tabs .tab-content,
    .partner-slider .item-article
    {
        background: #35a2d3; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1YTJkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzI1NWY4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top,  #35a2d3 0%, #255f8b 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35a2d3), color-stop(99%,#255f8b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #35a2d3 0%,#255f8b 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #35a2d3 0%,#255f8b 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #35a2d3 0%,#255f8b 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #35a2d3 0%,#255f8b 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a2d3', endColorstr='#255f8b',GradientType=0 ); /* IE6-8 */

    }
    .find-project .title h2,
    .project-tabs > ul > li a,
    .support-tabs > ul > li a,
    .support-tabs .tab-content
    {
        border-radius: 10px 10px 0 0;-webkit-border-radius: 10px 10px 0 0;-moz-border-radius:10px 10px 0 0;
        line-height: 35px;;color: #fff;text-align: center;

    }
    .find-project .title h2{font-size: 20px;text-transform: uppercase;border-radius: 18px 18px 0 0;-webkit-border-radius: 18px 18px 0 0;-moz-border-radius:18px 18px 0 0;}

    .find-project-content {padding: 20px 30px }
    .find-box label{display: block;font-weight: bold;color: #2f79b1;margin-bottom: 5px;margin-left: 3px}
    .find-box{margin-bottom: 15px}
    .find-box div.selector{width: 100% !important;}
    .find-box-search{
        position: relative;
        padding-left: 30px;
        border: 2px solid #535354;
        width: 100%;
        margin-bottom:15px;
        border-radius: 10px;-webkit-border-radius: 10px;

        background: #ebebeb; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTlkOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ebebeb 0%, #9a9d9e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#9a9d9e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ebebeb 0%,#9a9d9e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ebebeb 0%,#9a9d9e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ebebeb 0%,#9a9d9e 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ebebeb 0%,#9a9d9e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9a9d9e',GradientType=0 ); /* IE6-8 */
    }
    .find-box-search input{
        width: 100%;
        background: none;border: none;
        line-height: 30px;height: 30px;
        color: #666;

    }
    .find-box-search:before{
        content: "\f002";
        position: absolute;
        left: 10px;
        top: 6px;
        font-size: 17px;
        font-family: "FontAwesome";
    }
    .btn-find-box{width: 100%;text-align: center}
    .find-project .button{background: url("../images/find-search.png") 0 0 no-repeat;width: 115px;height: 27px;border: none;background-color: transparent;display: inline-block;}


    /*  project-tabs */
    .project-tabs{float: right;width: 760px}
    /*.project-tabs >ul {margin-bottom: 2px}*/

    .project-tabs > ul > li a,.support-tabs > ul > li  a{float: left;white-space: nowrap; display: inline-block;font-size: 12px;padding: 0 15px;margin-right: 2px;margin-bottom: -2px}
    .project-tabs > ul > li.ui-tabs-active a,.support-tabs > ul > li.ui-tabs-active a{border: 2px solid #a5a6ac;border-bottom: none;;font-weight: bold}
    .project-tabs .tab-content,.support-tabs .tab-content{
        border: 2px solid #a5a6ac;padding: 20px 30px 0;
        border-radius: 0 10px 10px 10px;-webkit-border-radius: 0 10px 10px 10px;-moz-border-radius: 0 10px 10px 10px
    }
    .project-tabs .tab-content{background: #e1f4fd;height: 375px;}
    .project-tabs ul li.ui-tabs-active a{background: #e1f3fd;color: #004d77}
    .project-tabs .item-list li{float: left;margin-bottom: 12px;width: 31.33%;margin-right: 2%}
    .project-tabs .item-article{height: 157px;position: relative;background: #fff;border: 1px solid #ccc; border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;font-size: 11px;color: #333;text-align: center;padding:15px 10px 10px}
    .project-tabs .item-article .image-wrap{width: 166px;height: 95px;overflow: hidden;display: inline-block;margin-bottom: 10px}
    .project-tabs .item-article .image-wrap img{display: inline-block;}
    .project-tabs .article-name,.project-tabs .article-name a{font-weight: bold;color: #fff}
    .project-tabs .bx-wrapper .bx-viewport{left: 10px}
    .project-tabs .bx-wrapper .bx-controls-direction a{top: 44%}


    /*support tabs*/
    .support-tabs{margin:10px 0;clear: both}
    .support-tabs ul li a{font-size: 13px;font-weight: bold}
    .support-tabs .tab-content{padding: 10px;min-height: 100px;border-color: #d1d2d4;;padding: 20px 50px;text-align: left }
    .support-tabs ul li.ui-tabs-active a{background: #35a2d3;border-color: #d1d2d4}
    .support-tabs{clear: both}
    ul.list-style li{list-style: disc inside; }
    .support-tabs .bx-wrapper .bx-prev{left: -50px}
    .support-tabs .bx-wrapper .bx-next{right: -50px}

    /*Partner slider*/
    .partner-slider{clear:both; margin: 10px 0; background: #e6e7e8;padding:15px 45px 15px 55px;border: 2px solid #a5a6ac;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius:10px}
    .partner-slider .item-article{float: left;width: 169px;height: 150px;overflow: hidden; margin: 0 10px;padding: 10px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius:10px;color: #fff;text-align: center}
    .partner-slider .item-article .image-wrap{width: 136px;height: 84px;border: 1px solid #fff;overflow: hidden;margin-bottom: 10px;display: inline-block}
    .partner-slider .article-name,.partner-slider .article-name a{color: #fff;font-size: 12px;display: inline-block;text-align: center;line-height: 15px}
    .partner-slider .bx-wrapper .bx-prev{left: -55px}
    .partner-slider .bx-wrapper .bx-next{right: -45px}

